@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  .fira-sans-regular {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("../public/photos/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black;
  color: rgb(0, 0, 0);
  width: 100;
  height: 100;
}
.card{
  width: 500px;
  height: auto;
  margin: 10px;
  display: flex;
  border: bold solid 10px black;
  row-gap: 3px;
  background-color: black;
  color: white;
  ;

}
.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 20px;
  position: relative;
  top: 0;
  left: 0;
 
}
img:hover {
  box-shadow: 0 0 2px 1px rgb(217, 245, 5);
}
.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
}
.button {
  justify-content: center;
  justify-items: center;
}
.logo-img {
  border-radius: 50%;
}
.signOutbtn {
  margin-left: 200px;
}
.searchBtn {
  margin-left: 20px;
}